<h2 id="title">University Application</h2>

<!-- changed all lines save {{outlet}} -->

<section id="todoapp">  
    <header id="header">
        <h1></h1>
    </header>

    {{outlet}}
</section>

<footer id="info">  
    <p>(C) 2016 William King - Intro to Web Application Architecture - Prof: Steven Beaty</p>
</footer> 